#latest-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.latest-title-container{
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.latest-title-container > h2{
    margin-bottom: 0;
}
.latest-title-container > a{
    color: gray;
}

@media screen and (max-width: 1024px) {
    #latest-container {
        grid-template-columns: 1fr;
    }
}